/* General Styles */
.container,
.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.container {
    background: #f9f9f9; /* Set container background color */
}

/* Content Styles */
.container .content,
.form-container form {
    text-align: center;
}

.container .content h3,
.form-container form h3 {
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container .content h3 span {
    background: #25191c;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}

.container .content h1,
.form-container form .form-btn {
    font-size: 50px;
    color: #333;
}

.container .content h1 span {
    color: #04AA6D;
}

.container .content p,
.form-container form p {
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content .btn,
.form-container form .form-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.container .content .btn:hover,
.form-container form .form-btn:hover {
    background: #04AA6D;
}

/* Form Styles */
.form-container {
    background: #eee; /* Set form container background color */
}

.form-container form {
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.form-container form input,
.form-container form select {
    width: calc(100% - 30px);
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-btn {
    background: aquamarine;
    color: #000;
    cursor: pointer;
}

.form-container form .form-btn:hover {
    background: #04AA6D;
    color: #fff;
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background: #000dfc;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}
