body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #3498db, #2ecc71);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the body takes up the full viewport height */
}

.container {
    text-align: center;
}

h1 {
    font-family: 'Your Desired Font', sans-serif; /* Change 'Your Desired Font' to the desired font family */
    font-size: 48px; /* Adjust the font size to your preference */
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 20.95), rgba(255, 255, 255, 6.85)); /* Glossy gradient background */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;
    color: transparent; /* Set the text color to transparent so the background gradient shows through */
}

.glowing-button {
    background: linear-gradient(135deg, rgba(253, 251, 251, 0.5), rgba(255, 255, 255, 0.2));
     /* Change the background color of the button */
    border: 2px solid #ffffff;
    color: #ffffff;
    margin:10px 10px 10px 10px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Shadow effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.glowing-button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9); /* Glowing effect */
    transform: scale(1.05); /* Slightly scale the button on hover */
}

.glowing-button a {
    color: #ffffff; /* Change the font color of the text inside the button */
    text-decoration: none;
}
